@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins';

}
body{
    background: #317B78;
    align-items: center;
    text-align: center;
}

#title{
    margin-top: 100px;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
}

input{
    height: 40px;
    width: 50%;
    border-radius: 5px;
    border-color: transparent;
    margin-bottom: 10px;
}

input::placeholder{
    color: #317B78;
    font-weight: 500;
}

input:focus{
    outline: none;
}



#button-cadastro{
    background-color: grey;
    color: #FFFFFF;
    height: 47px;
    width: 50.68%;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

b{
    font-weight: 600;
}

p{
    font-size: 18px;
    color: #FFFFFF;
}


@media(max-width: 840px){
    input{
        width: 60%;
    }

    p#possui-conta{
        margin-top: 150px;
    }

}

@media(max-width: 670px){
    input, button#button-cadastro{
        width: 70%;
    }

}

@media(max-width: 500px){

    #title{
        font-size: 60px;
    }

    p#possui-conta{
        font-size: 15px;
    }
}

@media(max-width: 400px){
    #title{
        font-size: 50px;
    }
}


