@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins';

}
body{
    background: #317B78;
    align-items: center;
    text-align: center;
}

#title{
    margin-top: 100px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 75px;
    height: auto;
}

input{
    height: 40px;
    width: 50%;
    border-radius: 5px;
    border-color: transparent;
    margin-bottom: 10px;
}

input::placeholder{
    color: #317B78;
    font-weight: 500;
}

input:focus{
    outline: none;
}

#button-login{
    background-color: grey;
    color: #FFFFFF;
    height: 47px;
    width: 50.68%;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    margin-top: 8px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

b{
    font-weight: 600;
}

p{
    color: #FFFFFF;
}

@media (max-width: 800px){
    
}



@media(max-width: 840px){
    #title{
        font-size: 70px;
    }

    input#usuario, input#senha{
        width: 75%;
        margin-bottom: 15px;
    }

    button#button-login{
        width: 76%;
    }

    p{
        margin-bottom: -10px;
    }

    p#cadastrar-se{
        margin-top: 250px;
    }



}

@media(max-width: 670px){

}

@media(max-width: 500px){
    #cadastrar-se, p#redefinir-senha{
        font-size: 15px;
    }
}

@media(max-width: 400px){

}

